#докерский
DJANGO_API_BASE_URL=http://csharp-api:5000/api

#публичный
PUBLIC_API_BASE_URL=http://localhost/api


DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=esports_db
DB_USER=esports_user
DB_PASSWORD=esports123
DB_HOST=postgres
DB_PORT=5432

#pandascore api token 1000 запросов в час
PANDASCORE_TOKEN=xFcwzwjE9l1Iynm7vSTzJ7S6nPHE1hXo4nAS1ZmhLn02MofrDXY
